.loginpage{
    background: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
    height: 100%;
    margin: 0px;
}

section{
    font-family: Garamond;
    
}

section h2{
    font-size: 40px;
    margin-left: 40%;
    padding-top: 5%;
    font-family: Garamond;
    font-weight: bold;
}

button{
    margin-left: 30%;
    width: 40%;
}

label{
    font-size: 20px;
}