.pointer{
    cursor: pointer;
}



mat-toolbar{
    position: sticky;
    top:0;
    z-index: 1000;
    // background:#2c3344 !important;
   
    background: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
    font-family: Garamond;
}

.logo button{
    border:0;
    outline: none;
    background: transparent;
}



.logo{
   
    font-size:300%;
    font-weight:bold;
    font-style: italic;
    margin:0;
    top: 0;
  margin-bottom: 10px;
    color: black;
   
}


.topperlogo{
    
  font-size: 22px;
  color: black;

}

mat-toolbar-row{
    height: 67px;
}

.icon-display {
    transform: scale(1.5);
    margin-top: 10px;
 }

p{
    
    color:rgb(7, 5, 5); 
    font-size: 23px;
    margin-right: 4%;
    
    // border: black ridge 1px;
    // width: 90px;
}


