<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBaropen">
      <app-sidebar></app-sidebar> <!--Drawer Content Sidenav-->
    </mat-drawer>
  
  <mat-drawer-content>
    <app-navbarafterlogin (toggleSidebarbutton)="sidebartoggler()"></app-navbarafterlogin>
    <!--provide responsive fixed width of page-->
  
    <div class="teammates">
    
        <div class="container">
            <h1>Meet the TEAM</h1>
            <div class="team">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="box">
                            <div class="avtar">
                                <img class="img-fluid" src="../../assets/Female1.png">
                            </div>
    
                            <div class="box_content">
                                <h3 class="title">Marco Gomez</h3>
                                <span class="post">CEO & Co-Founder</span>
                            </div>
    
                            <ul class="icons">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
    
    
                    <!--2nd-->
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="box">
                            <div class="avtar">
                                <img class="img-fluid" src="../../assets/male1.png">
                            </div>
    
                            <div class="box_content">
                                <h3 class="title">Aaron Rossi</h3>
                                <span class="post">Creative Director</span>
                            </div>
    
                            <ul class="icons">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
    
                    <!--3rd-->
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="box">
                            <div class="avtar">
                                <img class="img-fluid" src="../../assets/Female2.png">
                            </div>
    
                            <div class="box_content">
                                <h3 class="title">Philip Satemburgo</h3>
                                <span class="post">Office Manager</span>
                            </div>
    
                            <ul class="icons">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
    
                    <!--4th-->
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="box">
                            <div class="avtar">
                                <img class="img-fluid" src="../../assets/Male2.png">
                            </div>
    
                            <div class="box_content">
                                <h3 class="title">Brad Joe</h3>
                                <span class="post">Lead Developer</span>
                            </div>
    
                            <ul class="icons">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
    
                    <!--5th-->
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="box">
                            <div class="avtar">
                                <img class="img-fluid" src="../../assets/Female3.png">
                            </div>
    
                            <div class="box_content">
                                <h3 class="title">Mitch Petty</h3>
                                <span class="post">Community Manager</span>
                            </div>
    
                            <ul class="icons">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
    
                    <!--6th-->
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="box">
                            <div class="avtar">
                                <img class="img-fluid" src="../../assets/Male.png">
                            </div>
    
                            <div class="box_content">
                                <h3 class="title">George Mitch</h3>
                                <span class="post">UX Designer</span>
                            </div>
    
                            <ul class="icons">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
  </mat-drawer-content>
  
  </mat-drawer-container>
  