
  <mat-drawer-container>
  
    <mat-drawer-content>
      <app-navbarafterlogin></app-navbarafterlogin>
      <!--provide responsive fixed width of page-->
      <div class="courseslistdetails">
  
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" *ngFor="let item of musiccourse  let index = index"
                [class.active]="index == 0 ">
        
                <div class="row">
                  <div class="image-grid-container">
                    <img src="{{item.imageUrl}}" class="card-img-top" alt="...">
                  </div>
        
                  <div class="description-container">
                    <div class="product-info">
                      <h1 class="product-title">
                        {{item.title}}
                      </h1>
                      <p>{{item.desc}}</p>
                      <div class="index-ratingcontainer">
                        <div class="product-rating">
                          <div><span class="badge badge-success p-1 h-25">
                              {{item.ratings}}&nbsp; <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked "></span><span class="fa fa-star "></span> </span></div>
                          <span class="index"></span>
                          <div class="index-seprator">|</div>
                          <div class="index-ratingcount">
                            {{item.ratingscount | number}}
        
                            Ratings
                          </div>
                        </div>
                      </div>
        
                    </div>
        
                    <p class="pricecontainer">
                      <span class="productprice">
                        <strong>Rs.{{item.price | number}}</strong>
                      </span>
                       &nbsp;
                      <span class="productdiscount">
                         (15% OFF)
                      </span>
                    </p>
        
                    <br />
                   
                    <br>
                    <div class="categoryauthor">
                      BY {{item.author}} | {{item.hours}} hours, {{item.lectures}} lectures, {{item.level}} level
                      
                    </div>
                    
                    <div class="row mt-5">
                      <div class="col">
                        <button class="btn1"><span> <i class="fas fa-shopping-cart"></i></span>&nbsp; Add to List</button>
        
                      </div>
                      <div class="col">
                        <button class="btn2"><span> <i class="fa fa-heart-o"></i></span>&nbsp; WishList</button>
                        
                      </div>
                    </div>
        
                   <br>
                   <button routerLink="/coursestab" style="width: 22%; height: 5%; font-size: 17px; border-radius: 5px; font-family: Garamond;  background-color: #2c3344; color: rgb(245, 243, 243); margin-top: 19%;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                         
                  </div>
                </div>
              </div>
            </div>
        
            
          </div>
        
        </div> 
   
        
  
    </mat-drawer-content>
    
    </mat-drawer-container>
    