<mat-nav-list>

    <div class="logo">
        Menu
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon> Home
    </a>
    <br>
    <a mat-list-item routerLink="/coursestab" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Courses
    </a>
    <br>
   
    <a mat-list-item routerLink="/topcourses" routerLinkActive="list-item-active">
        <mat-icon>book</mat-icon> Top Courses
    </a>
    <br>
    <a mat-list-item routerLink="/teammates" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon> Our Team
    </a>
   

<br>
    <a mat-list-item routerLink="/reviews" routerLinkActive="list-item-active">
        <mat-icon>star_half</mat-icon> Reviews
    </a>
<br>
   
    
</mat-nav-list>
