<mat-nav-list>

    <div class="logo">
        Menu
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    
    <a mat-list-item routerLink="/admindashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <br>
   
    <a mat-list-item routerLink="/adminaddnewcourse" routerLinkActive="list-item-active">
        <mat-icon>book</mat-icon> Add Course
    </a>
    
    <br>
   
    <a mat-list-item routerLink="/adminseeallcourses" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon> All Courses
    </a>
   

<br>
   
    
</mat-nav-list>