.mat-icon{
    vertical-align: center;
     margin-right: 1rem;
  }

  .topperlogo{
      margin-left: 18px;
    font-size: 25px;
    margin-top: 10px;

  }

  .mat-list-item{
    font-size:140%;
    height: 44px !important;
    margin-bottom: 4px;
    font-family: Garamond;
    color:white;
}

.mat-list-item:hover{
    background:#2c3344 !important;
}

.mat-divider{
    border-top-width: 1px;
    margin-top: 8px;
    border-color: white;
    
}

.logo{
    font-family: Garamond ;
    font-size:150%;
    font-weight: bold;
    margin:0;
    top: 0;
    margin-left: 23%;
    margin-top: 10px;
    color:white;
}


.mat-list-item-content{
   border-radius: 5px;
   margin:0 8px;
}

.list-item-active{
    background:#2c3344 !important;
}


